/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #396E94;
    --secondary-color: #E7C24F;
    --accent1-color: #A43312;
    --accent2-color: white;
    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: black;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: black;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: black;
    --nav-link-color: #396E94;
    --nav-background-color: #E7C24F;
    --nav-hover-link-color: #E7C24F;
    --nav-hover-background-color: #396E94;
}

@font-face {
    font-family: Robotoserif;
    src: url(https://cdn.glitch.global/f2a3642e-c9b0-4587-84c1-083a5a55a1c3/RobotoSerif-VariableFont_GRAD%2Copsz%2Cwdth%2Cwght.ttf?v=1645907176799)
}

@font-face {
    font-family: ShipporiAntiqueB1;
    src: url(https://cdn.glitch.global/f2a3642e-c9b0-4587-84c1-083a5a55a1c3/ShipporiAntiqueB1-Regular.ttf?v=1645907254136)
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

html {
    background-color: var(--primary-color);
}

body {
    max-width: 940px;
    margin: 0 auto;
    background-color: #F9A172;
    padding: 1em;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

h4 {
    font-family: ShipporiAntiqueB1;
}

header {
    align-items: center;
    display: grid;
    grid-template-columns: 110px auto;
}

logo-box {
    background-color: white;
    border: 1px solid#a43312;
}

nav ul {
    list-style: none;
    /* removes the bullets! */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    margin: 0;
}

.logo-box {
    background-color: white;
    border-radius: 50px 50px 0 0;
    padding: 0.5em;
    border: solid #a43312;
}

.logo-box img {
    border-radius: 50px 50px 0 0;
}

.image {
    display: grid;
    grid-template-rows: 100%;
    align-items: center;
}

#fondo {
    width: 100%;
    height: 100%;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/591/877/230/amanecer-rojo-mar-paisajes-naturaleza-wallpaper-preview.jpg);
}

.barner-box {
    text-align: center;
}

.barner-box h1,
.barner-box h2 {
    color: white;
    font-family: "Trebuchet MS", Verdana, sans-serif;
}

#block {
    width: 400px;
    background: #999;
    box-shadow: 7px 13px 37px #000;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    text-align: justify;
    height: 78%;
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-left: 10%;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.controls1 {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.controls2 {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register h4 {
    text-align: center;
    font-size: 20px;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.content {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 450px 450px;
    justify-items: center;
    align-items: center;
}

.content1 {
    background: #91F972;
    justify-self: end;
    width: 350px;
    height: 350px;
    font-size: 13px;
    box-shadow: 7px 13px 37px #000;
}

.content1 h3 {
    text-align: center;
    font-size: 22px;
}

.content3 {
    background: #91F972;
    justify-self: start;
    width: 350px;
    height: 350px;
    font-size: 13px;
    box-shadow: 7px 13px 37px #000;
}

.content3 h3 {
    text-align: center;
    font-size: 22px;
}

.footer {
    width: 100%;
    height: 10%;
    background: #FFC300;
    text-align: center;
}

p {
    font-family: Robotoserif;
    color: var(--paragraph-color);
    padding: 1em;
}

#body {
    display: grid;
    grid-template-columns: 400px 400px;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}

nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sitemap {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ." ". . . top . ." ". left left right right ." "page2 page2 . . page3 page3";
}

.sitemap>div {
    text-align: center;
}

.sm-home {
    grid-area: home;
    background-color: #999;
    line-height: 3em;
}

.sm-page2 {
    grid-area: page2;
    background-color: #999;
    line-height: 3em;
}

.sm-page3 {
    grid-area: page3;
    background-color: #999;
    line-height: 3em;
}

.top {
    grid-area: top;
    border-left: 1px solid;
}

.left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
}

.right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
}
